body{
  text-align: center;
}
main, header {
  max-width: 960px;
  margin: auto;
  text-align: left;
}

/* Catalog */
@media screen and (min-width: 640px) {
    .catalog-item {
        display: flex;
        flex-wrap: wrap;
    }
    .item-cover,
    .item-content {
      flex: 1;
    }
    .item-content {
      margin-left: 48px;
    }
}

.item-content {
  background: lightgrey;
}
